<div class="item" data-{{ id }}>
    <div class="item-number">
        <div class="number">
            <div class="layer layer-top _offset">{{ timeOffset }}</div>
            <div class="layer layer-bottom _current">{{ time }}</div>
            <div class="layer layer-flip">
                <div class="flip flip-top _current">{{ time }}</div>
                <div class="flip flip-bottom _offset">{{ timeOffset }}</div>
            </div>
        </div>
    </div>
    <div class="item-label">{{ id }}</div>
</div>